# Ignore node_modules, as they will be installed inside the container
node_modules

# Ignore build artifacts, as they will be generated inside the container
dist
.angular

# Ignore IDE and OS-specific files
.vscode
.idea
*.DS_Store

# Ignore local environment files and logs
.env
npm-debug.log*